.task{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}
.task-text{
    flex-basis: 70%;
    font-size: 25px;
}

.checkbox {
    align-items: center;
    position: relative;
    border: 1px solid darkblue;
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor:pointer;
}

.check:hover{
    background-color: #4d4dce;
}

.check {
    background: white;
    display: block;
    margin: 2px;
    height: 24px;
    width: 24px;
    -webkit-transition: background .2s; /* For Safari 3.0 to 6.0 */
    transition: background .2s; /* For modern browsers */
}
.active{
    background-color: darkblue !important;
}


.centered-element {
    position: relative;
}
